.loginBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.loginBackground p {
  font: 700 2rem Roboto;
  position: absolute;
  top: 100px;
  color: white;
}

.loginInputs {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
}
.showPassword {
  position: absolute;
  right: 10px;
  cursor: pointer;
  transition: 0.8s;
}
.showPassword:hover {
  opacity: 70%;
}

.passwordContainer {
  position: relative;
}
.loginInputs input[type='password'],
.loginInputs input[type='text'],
.loginInputs input[type='email'] {
  width: 80vw;
  height: 45px;
  margin-bottom: 40px;
  border-bottom: 2px solid rgb(182, 182, 182);
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font: 700 1rem Roboto;
  color: white;
  padding-left: 20px;
  transition: 0.8s;
}

.loginInputs input[type='password']:focus,
.loginInputs input[type='text']:focus,
.loginInputs input[type='email']:focus {
  border: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

.loginInputs input[type='password']::placeholder,
.loginInputs input[type='email']::placeholder,
.loginInputs input[type='text']::placeholder {
  color: white;
  transition: 0.8s;
}

.loginInputs input[type='password']:focus::placeholder,
.loginInputs input[type='email']:focus::placeholder,
.loginInputs input[type='text']::focus::placeholder {
  opacity: 40%;
}

.loginInputs input[type='submit'] {
  width: 80vw;
  height: 60px;
  border-radius: 18px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  color: white;
  cursor: pointer;
  font: 700 1rem Roboto;
  transition: 0.8s;
}

.loginInputs input[type='submit']:hover {
  background-color: white;
  color: black;
}

.loginLinks {
  color: white;
  height: 20vh;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 90vw;
  border-top: none;
  display: flex;
  align-items: center;
  padding-top: 100px;
  justify-content: space-around;
}

.loginLinks a {
  font: 400 2rem Roboto;
  margin-top: 10px;
}

.loginLinks a:hover {
  opacity: 70%;
}

@media (min-width: 600px) {
  .loginLinks {
    width: 80vw;
  }
  .loginInputs input[type='password'],
  .loginInputs input[type='email'],
  .loginInputs input[type='text'],
  .loginInputs input[type='submit'] {
    width: 60vw;
  }
}

@media (min-width: 700px) {
  .loginLinks {
    width: 60vw;
  }
  .loginInputs input[type='password'],
  .loginInputs input[type='email'],
  .loginInputs input[type='text'],
  .loginInputs input[type='submit'] {
    width: 40vw;
  }
}

@media (min-width: 1000px) {
  .loginLinks {
    width: 40vw;
  }
  .loginInputs input[type='password'],
  .loginInputs input[type='email'],
  .loginInputs input[type='text'],
  .loginInputs input[type='submit'] {
    width: 40vw;
  }
}
