.registerBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../assets/wallpeaper.jpg');
  background-size: cover;
  background-position: center;
}

.registerBackground p {
  font: 700 2rem Roboto;
  position: absolute;
  top: 100px;
  color: white;
}

.registerInputs {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
}

.passwordContainer {
  position: relative;
}
.registerInputs input[type='password'],
.registerInputs input[type='email'],
.registerInputs input[type='text'] {
  width: 80vw;
  height: 45px;
  margin-bottom: 50px;
  border-bottom: 2px solid rgb(182, 182, 182);
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font: 700 1rem Roboto;
  color: white;
  padding-left: 20px;
  transition: 0.8s;
}

.registerInputs input[type='password']:focus,
.registerInputs input[type='email']:focus,
.registerInputs input[type='text']:focus {
  border: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

.registerInputs input[type='password']::placeholder,
.registerInputs input[type='email']::placeholder,
.registerInputs input[type='text']::placeholder {
  color: white;
  transition: 0.8s;
}

.registerInputs input[type='password']:focus::placeholder,
.registerInputs input[type='email']:focus::placeholder,
.registerInputs input[type='text']:focus::placeholder {
  opacity: 40%;
}

.registerInputs input[type='submit'] {
  width: 80vw;
  height: 60px;
  border-radius: 18px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  color: white;
  cursor: pointer;
  font: 700 1rem Roboto;
  transition: 0.8s;
}

.registerInputs input[type='submit']:hover {
  background-color: white;
  color: black;
}

@media (min-width: 600px) {
  .registerLinks {
    width: 80vw;
  }
  .registerInputs input[type='password'],
  .registerInputs input[type='email'],
  .registerInputs input[type='submit'] {
    width: 60vw;
  }
}

@media (min-width: 700px) {
  .registerLinks {
    width: 60vw;
  }
  .registerInputs input[type='password'],
  .registerInputs input[type='email'],
  .registerInputs input[type='submit'],
  .registerInputs input[type='text'] {
    width: 40vw;
  }
}

@media (min-width: 1000px) {
  .registerLinks {
    width: 40vw;
  }
  .registerInputs input[type='password'],
  .registerInputs input[type='email'],
  .registerInputs input[type='submit'],
  .registerInputs input[type='text'] {
    width: 40vw;
  }
}
