.forgotBackground H6 {
  font: 700 1rem Roboto;
  position: absolute;
  top: 200px;
  color: white;
  width: 60vw;
  text-align: center;
}

.forgotBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('../../../../assets/wallpeaper.jpg');
  background-size: cover;
}

.forgotBackground p {
  font: 700 2rem Roboto;
  position: absolute;
  top: 100px;
  color: white;
}

.forgotInputs {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
}

.passwordContainer {
  position: relative;
}

.forgotInputs input[type='email'] {
  width: 80vw;
  height: 45px;
  margin-bottom: 80px;
  border-bottom: 2px solidrgb(182, 182, 182);
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font: 700 1rem Roboto;
  color: white;
  padding-left: 20px;
  transition: 0.8s;
}

.forgotInputs input[type='email']:focus {
  border: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

.forgotInputs input[type='email']::placeholder {
  color: white;
  transition: 0.8s;
}

.forgotInputs input[type='password']:focus::placeholder,
.forgotInputs input[type='email']:focus::placeholder {
  opacity: 40%;
}

.forgotInputs input[type='submit'] {
  width: 80vw;
  height: 60px;
  border-radius: 18px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  color: white;
  cursor: pointer;
  font: 700 1rem Roboto;
  transition: 0.8s;
}

.forgotInputs input[type='submit']:hover {
  background-color: white;
  color: black;
}

.forgotLinks {
  color: white;
  height: 20vh;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 90vw;
  border-top: none;
  display: flex;
  align-items: center;
  padding-top: 100px;
  justify-content: space-around;
}

.forgotLinks a {
  margin-top: 10px;
}

.forgotLinks a:hover {
  opacity: 70%;
}

@media (min-width: 600px) {
  .forgotLinks {
    width: 80vw;
  }
  .forgotInputs input[type='password'],
  .forgotInputs input[type='email'],
  .forgotInputs input[type='submit'] {
    width: 60vw;
  }
}

@media (min-width: 700px) {
  .forgotLinks {
    width: 60vw;
  }
  .forgotInputs input[type='password'],
  .forgotInputs input[type='email'],
  .forgotInputs input[type='submit'] {
    width: 40vw;
  }
}

@media (min-width: 1000px) {
  .forgotLinks {
    width: 40vw;
  }
  .forgotInputs input[type='password'],
  .forgotInputs input[type='email'],
  .forgotInputs input[type='submit'] {
    width: 40vw;
  }
}
