<<<<<<< HEAD:web/src/components/topIcon/styles/topIcon.css
.topContainer {
=======
.goTopContainer {
>>>>>>> e94e7fd2cfdeebfdf2ca41e78de863efe967c9c4:web/src/components/topIcon/styles/goTop.css
  position: fixed;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0);
  right: 50px;
  bottom: 30px;
  border-radius: 50%;
  color: white;
  border: 4px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

<<<<<<< HEAD:web/src/components/topIcon/styles/topIcon.css
.topContainer:hover {
  opacity: 70%;
=======
.goTopContainer:hover {
  opacity: 70%;
  cursor: pointer;
>>>>>>> e94e7fd2cfdeebfdf2ca41e78de863efe967c9c4:web/src/components/topIcon/styles/goTop.css
}
