.site-footer {
  background: rgb(14, 33, 98);
  background: linear-gradient(
    180deg,
    rgba(14, 33, 98, 1) 23%,
    rgba(0, 17, 77, 1) 75%
  );
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #dddddd;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #dddddd;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #dddddd;
  transition: 0.3s;
}
.site-footer a:hover {
  color: #00adc4;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #dddddd;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #07b7ce;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #fdfdfd00;
  border: 2px solid white;
}
.copyright-text {
  margin: 0;
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  transition: 0.4s;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #dddddd;
  background-color: #29a9fe00;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.linkedin:hover {
  background-color: #0441c4;
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(167, 167, 167, 0.521);
  color: #ffffff;
}
.social-icons a.github:hover {
  background-color: #000000;
  transform: translateY(-3px);
  /* box-shadow: 0 4px 17px rgba(197, 197, 197, 0.521); */
  color: #ffffff;
}
.social-icons a.instagram:hover {
  background: rgb(161, 34, 195);
  background: linear-gradient(
    214deg,
    rgba(161, 34, 195, 1) 0%,
    rgba(181, 34, 168, 1) 39%,
    rgba(195, 34, 151, 1) 50%,
    rgba(253, 188, 45, 1) 100%
  );
  transform: translateY(-3px);
  transform: translateY(-3px);
  /* box-shadow: 0 4px 17px rgba(197, 197, 197, 0.521); */
  color: #ffffff;

  color: #ffffff;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

@media (max-width: 991px) {
  .site-footer [class^='col-'] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
