.landingBackground {
  background-image: url(../../../assets/wallpeaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.landingSliderContainer {
  width: 100%;
  height: 18vh;
  margin-top: 25px;
  display: flex;

  justify-content: center;
}

.landingSlider {
  width: 80vw;
  height: 18vh;
}
