.landingBackground {
  background-image: url(../../../assets/wallpeaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scrollContainer {
  width: 70vw;
  display: flex;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  overflow: scroll;
  background-color: rgb(38, 38, 95);
}

.scrollBody {
  width: 100vw;
  height: 20px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
