.navbarContainer {
  background-color: rgba(0, 0, 0, 0.692);
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
}

.landingLogo p {
  background-color: #fff;
}

.navbar button {
  border: none;
}

.navbar button:focus {
  border: none;
  outline: none;
}

.bg {
  background-color: rgba(11, 6, 68, 0);
}
.landingCar {
  position: absolute;
  right: 80px;
}

.landingUser {
  position: absolute;
  right: 150px;
}
