.contactContainer {
  background-image: url(../../../assets/JettSmooth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
}

.contactSmooth {
  width: 100vw;
  height: 100vh;
}
.contactFormContainer {
  width: 100vw;
  height: 87vh;
  display: grid;
  flex-direction: row;
  grid-template-columns: 50% 50%;
}

.contactFormContainerOne {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.contactFormContainerTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.contactInputsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 95%;
  border-radius: 18px;
  border: 2px solid #fff;
  flex-direction: column;
}
.contactFormContainerTwo::-webkit-scrollbar {
  width: 0px;
}

.contactInputsContainer span {
  color: #fff;
  font: 700 1rem Roboto;
}

.contactInput input[type='email'],
.contactInput input[type='text'] {
  display: flex;
  width: 80vw;
  height: 45px;
  margin-bottom: 50px;
  border-bottom: 2px solid rgb(182, 182, 182);
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font: 700 1rem Roboto;
  color: white;
  padding-left: 20px;
  transition: 0.8s;
}

.contactInput input[type='email']:focus,
.contactInput input[type='text']:focus {
  border: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

.contactInput input[type='email']::placeholder,
.contactInput input[type='text']::placeholder {
  color: white;
  transition: 0.8s;
}

.contactInput input[type='email']:focus::placeholder,
.contactInput input[type='text']:focus::placeholder {
  opacity: 40%;
}

.contactInput input[type='submit'] {
  width: 80vw;
  height: 60px;
  border-radius: 18px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  color: white;
  cursor: pointer;
  font: 700 1rem Roboto;
  transition: 0.8s;
}

.contactInput input[type='submit']:hover {
  background-color: white;
  color: black;
}

@media (min-width: 600px) {
  .registerLinks {
    width: 80vw;
  }
}

@media (min-width: 700px) {
  .registerLinks {
    width: 60vw;
  }

  .contactInput input[type='email'],
  .contactInput input[type='submit'],
  .contactInput input[type='text'] {
    width: 40vw;
  }
}

@media (min-width: 1000px) {
  .registerLinks {
    width: 40vw;
  }

  .contactInput input[type='email'],
  .contactInput input[type='submit'],
  .contactInput input[type='text'] {
    width: 40vw;
  }
}
textarea {
  width: 100%;
  background: transparent;
  border: 2px solid white;
  border-top: none;
  border-left: none;
  outline: none;
  color: white;
  padding: 10px;
  font: 700 1rem Roboto;
  resize: vertical;
}
textarea::placeholder {
  color: white;
  transition: 0.8s;
}

textarea:focus::placeholder {
  opacity: 40%;
}
