.aboutUsHeader {
  background-color: rgba(255, 255, 255, 0);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font: 700 1.6rem 'JetBrains Mono';
  align-items: center;
}

.aboutUsHeaderTextContainer {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.abousUsContainer {
  background-color: rgb(255, 255, 255);
  height: 400vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUsHeaderTextContainer h5,
.aboutUsHeaderTextContainer h2 {
  margin-top: 40px;
  text-align: center;
}

.aboutUsLink {
  background-color: rgb(255, 255, 255);
  color: #000;
  text-decoration: none;
  font: 700 1.2rem 'JetBrains Mono';
  width: 250px;
  height: 70px;
  display: flex;
  margin-top: 40px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: 0.8s;
  margin-bottom: 100px;
}
.aboutUsLink:hover {
  text-decoration: none;
  color: #fff;
  border: 2px solid white;
  background-color: rgba(197, 197, 197, 0);
}
@media (max-width: 1400px) {
  .aboutUsHeaderTextContainer {
    width: 70%;
  }
}
