.entryContainer {
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 15px;
  border: 2px solid white;
}

.entryContainer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font: 400 0.8rem Roboto;
}

@media (min-width: 600px) {
  .entryContainer {
    width: 80vw;
  }
}

@media (min-width: 700px) {
  .entryContainer {
    width: 60vw;
  }
}
