.entryContainer {
  width: 90vw;
  height: 90vh;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 15px;
  border: 2px solid white;
}

.entryContainer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font: 400 0.8rem Roboto;
}

.backgroundEntrySmooth {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.884);
}

.GoBackEntryIcon {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: 0.8s;
}
.GoBackEntryIcon:hover {
  opacity: 70%;
}

@media (min-width: 600px) {
  .entryContainer {
    width: 80vw;
  }
}

@media (min-width: 700px) {
  .entryContainer {
    width: 60vw;
  }
}
